html {
  height: 100vh;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  height: 100%;
}
.logo {
  position: absolute;
  top: 10%;
}

.line1 {
  font-weight: 200;
  color: hsl(0, 36%, 70%);
}

h1 {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 70px;
  letter-spacing: 16px;
  margin-bottom: 0%;
  color: hsl(0, 6%, 24%);
}
p {
  line-height: 30px;
  color: hsl(0, 36%, 70%);
}
.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.box-1 {
  flex: 1;
  background: url(./images/bg-pattern-desktop.svg);
  background-size: 100% 100%;
}
.info {
  margin: 10px;
  padding: 25% 25% 10% 15%;
}

.image {
  height: 100vh;
}

input {
  height: 50px;
  width: 80%;
  border-radius: 30px;
  font-size: 100%;
  border: 1px solid hsl(0, 80%, 86%);
}

button {
}

footer {
  position: absolute;
  margin: 0;
  bottom: 0%;
  left: 10%;
}
footer p {
  margin: 0;
}
