input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
html,
body {
  margin: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  height: 100%;
}
.logo {
  position: absolute;
  top: 10%;
  left: 10%;
}

.line1 {
  font-weight: 200;
  color: hsl(0, 36%, 70%);
}

h1 {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 70px;
  letter-spacing: 16px;
  margin-bottom: 0%;
  color: hsl(0, 6%, 24%);
}
p {
  line-height: 30px;
  color: hsl(0, 36%, 70%);
}
.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.box-1 {
  flex: 1;
  background: url(./images/bg-pattern-desktop.svg);
  background-size: 100% 100%;
}
.info {
  margin: 10px;
  padding: 20% 25% 5% 15%;
}

.info p {
  padding-right: 110px;
}

.image {
  height: 100vh;
}

.box-2 {
  content: url(./images/hero-desktop.jpg);
  max-width: 100%;
}

input {
  height: 50px;
  width: 67%;
  border-radius: 30px;
  font-size: 100%;
  border: 1px solid hsl(0, 80%, 86%);
  padding-left: 20px;
  font-family: "Josefin Sans", sans-serif;
  appearance: none;
}
.email-container {
  position: relative;
}
button {
  position: absolute;
  border-radius: 30px;
  width: 5.5rem;
  height: 54px;
  top: 0px;
  right: 25%;
  border: 0px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 8px 10px 30px rgba(128, 128, 128, 0.473);
}

button:hover {
  background-image: linear-gradient(135deg, hsl(0, 80%, 90%), hsl(0, 74%, 90%));
}

footer {
  position: absolute;
  margin: 0;
  bottom: 0%;
  left: 10%;
}
footer p {
  margin: 0;
}

@media (max-width: 1100px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 45px;
  }

  .info p {
    padding-right: 0px;
  }
  .container {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .box-2 {
    content: url(./images/hero-mobile.jpg);
    padding-top: 20%;
    width: 100%;
  }
  .info {
    padding: 10px;
  }
  button {
    right: 7%;
    width: 4rem;
  }
  .logo {
    top: 3%;
    height: 4%;
  }
  .topnav {
    background-color: #666666;
    width: 100%;
  }
  input {
    width: 78%;
  }
} ;
